@import "https://raw.githubusercontent.com/seven-phases-max/less.curious/master/src/for";

.grayscale {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.grayscale-disabled {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
}

.remove-border() {
    border-radius: 0px;
    border: 0px;
}

.long-shadow(@type, @color, @length, @fadeout: true, @scew: false, @direction: right) {
    .-() {
        @dir:  1px;
        @offset: 0;
        @s: .5px * @i;
        @a: 1 - @i / @length;
        @c: fade(@color, 100% * alpha(@color) * @a * @a);
    }
    .-() when (@direction = left) {@dir: -1px}
    .-() when (@type = box)       {@offset: 1}
    .-() when (@scew = false)     {@s: ;}
    .-() when (@type = text)      {@s: ;}
    .-() when (@fadeout = false)  {@c: @color}

    .for(0, @length - 1); .-each(@i) {
        .-();
        @x: @dir * (@i + @offset);
        @y: 1px  * (@i + @offset);
        @{type}-shadow+: @x @y 0 @s @c;
    }
}

.responsive(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}

.rotate (@degrees: 90){
	-webkit-transform: rotate(@degrees * 1deg);
	transform: rotate(@degrees * 1deg);	
}

.opacity (@opacity: 0.5) {
	@ieOpacity			: @opacity * 100;
	opacity				: @opacity;
	-moz-opacity		: @opacity;
	-webkit-opacity		: opacity;
	-ms-filter			: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{ieOpacity})"; /* IE 8 */
	filter				: ~"alpha(opacity = @{ieOpacity})"; /* IE 5-7 */
}

.box-shadow(){
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.background-size (@size: cover) {
	-webkit-background-size: @size;
	-moz-background-size: @size;
	-o-background-size: @size;
	background-size: @size;
}

.transition (@prop: all, @time: 500ms, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
}

.border-image(@img, @number, @repeat: stretch) {
    @val: @img @number @repeat;
    -moz-border-image: @val;
    -webkit-border-image: @val;
    -ms-border-image: @val;
    -o-border-image: @val;
    border-image: @val;
}
				
@-webkit-keyframes svg-rotate {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes svg-rotate {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes stroke-width {
	0%, 100% {
		stroke-width: 0;
	}
	45%, 55% {
		stroke-width: 1;
	}
	50% {
		stroke-width: 1;
	}
}

@keyframes stroke-width {
	0%, 100% {
		stroke-width: 0;
	}
	45%, 55% {
		stroke-width: 1;
	}
	50% {
		stroke-width: 1;
	}
}

@-webkit-keyframes stroke-dash {
	0% {
		stroke-dasharray: 0, 301.59289;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 301.59289, 0;
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dasharray: 301.59289, 301.59289;
		stroke-dashoffset: -301.59289;
	}
}

keyframes stroke-dash {
	0% {
		stroke-dasharray: 0, 301.59289;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 301.59289, 0;
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dasharray: 301.59289, 301.59289;
		stroke-dashoffset: -301.59289;
	}
}

@-webkit-keyframes stroke-color {
	from {
		stroke: black;
	}
}

@keyframes stroke-color {
	from {
		stroke: black;
	}
}

@-webkit-keyframes hvr-icon-down {
	0%,
	50%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	
	25%,
	75% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}

@keyframes hvr-icon-down {
	0%,
	50%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	
	25%,
	75% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}

.bounce {
	-moz-animation: hvr-icon-down 2s infinite;
	-webkit-animation: hvr-icon-down 2s infinite;
	animation: hvr-icon-down 2s infinite;

	&:hover {
		-webkit-animation-play-state:paused;		
	}
}

.no-margins {
	margin: 0px;
}

.margin-top {
	margin-top: 15px;
}

.margin-bottom {
	margin-bottom: 15px;
}

.margin-right {
	margin-right: 15px;
}

.margin-left {
	margin-left: 15px;
}

.lightest {
	font-weight: 100;
}

.light {
	font-weight: 300;
}

.medium {
	font-weight: 400;
}

.bold {
	font-weight: 700;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.italic {
	font-style: italic;
}

.justify {
	text-align: justify;
	
	p {
		text-align: justify;
	}
}

.fade {
	.opacity(.3);
}